language: go
go:
  - 1.4
  - 1.5
sudo: false
before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
script:
  - $GOPATH/bin/goveralls -service=travis-ci
  - cd example && ./linux64_build.sh
